.navbar {
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
		linear-gradient(178.74deg, rgba(255, 255, 255, 0.25) 0.54%, rgba(255, 255, 255, 0.05) 98.4%);
	box-shadow: 0px 4px 25px -1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(12.5px);
	border-radius: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
}
.logo {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
	display: flex;
	flex-direction: row;
	color: #000000;
}
.menu {
	display: flex;
	flex-direction: row;
	gap: 25px;
}
.h {
	height: 25px;
	width: 25px;
}
.home,
.events,
.login,
.blogs {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	cursor: pointer;
	color: black;
}

.blob1 {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
}
.big {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
}
.footer > .icons > .fb,
.footer > .icons > .twitter,
.footer > .icons > .g,
.footer > .icons > .in {
	width: 10%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.first {
	width: 50%;
	height: 100%;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000000;
}
.codeimg {
	max-height: 100vh;
	width: 25%;
	height: auto;
}
.icons {
	display: flex;
	margin: 50px;
	gap: 25px;
	height: auto;
}
.footer > .icons {
	margin: 0;
	height: auto;
	gap: 2px;
}
.v2 {
	position: absolute;
	top: 30vh;
	left: 0px;
	z-index: -1;
}
.team {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100vw;
}
.members {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}
.members-card {
	background: linear-gradient(
		360deg,
		rgba(192, 203, 216, 0.3) 0%,
		rgba(226, 238, 252, 0.3) 72.46%
	);
	align-items: center;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	margin: 60px;
	border-radius: 20px;
	width: 90%;
	padding-top: 100px;
	padding-bottom: 100px;
	gap: 50px;
}
.ellipse {
	width: 80%;
	height: auto;
}
.title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;
	display: flex;
	align-items: center;
	text-align: center;
}
.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10px;
	margin-bottom: 100px;
}
.project-title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 72px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: 50px;
}
.project-list {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.project-tile,
.explore {
	position: relative;
	width: 30vw;
	height: 35vh;
	border-radius: 10px;
}
.explore {
	background-color: #f0f4f7;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 72px;
	display: flex;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;

	color: #000000;
}
.project-img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	border-radius: 10px;
}
.image-overlay {
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 10px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.tb {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	margin-bottom: 10px;
}
.content {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 15px;
	display: flex;
	align-items: center;
	width: 40%;
	color: #ffffff;
}
.days {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
	color: #ffffff;
}
.content2 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 15px;
	display: flex;
	align-items: center;
	width: 40%;
	color: #ffffff;
}
.footer {
  background-image: url("../images/wave.png");
  background-repeat: none;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.logo-img {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-logo {
	display: flex;
	justify-content: center;
	width: 20%;
	flex-direction: column;
}
.show {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	align-items: center;
	text-align: center;

	color: #000000;
}
.cp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #000000;
}
.footer-text {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}
.footer-icons {
	display: flex;
	height: 100%;
	width: 30%;
	justify-content: center;
	align-items: center;
}
